:root {
    --color-background-primary: #24292E;
    --color-background-secondary: #1B1D23;

    --color-text-primary: #9da5b4;

    font-size: 50%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: 0;
  background-color: var(--color-background-primary);
}

body,
#root {
  min-height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
}

* {
  font-family: 'Poppins', sans-serif;
}

.title {
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 350px) {
  :root {
      font-size: 40%;
  }
}
